.card-main{
    background-color: #DFE6EF !important;
    border-radius: 5px;
    border: 0 solid #B8BDC4 !important;
}
.col-of-card
{
    margin-top: 2%;
}

.card-img-top-resume {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-text{
    font-family:'Bitter', serif;
    font-size: 1em;
    font-weight: 600;
}
.tit-card{
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    color:#6c757d;
}

.tit-card-box{
    background-color:#DFE6EF;
    border: none;
    border-radius: 3px;
    padding: 7px;
    flex-direction: row;
    flex-wrap: wrap;
    display: inline-flex;
}
.card-title{
    margin-bottom: 0 !important;
}

.coursenamebox{
    margin-bottom: 10px;
    margin-top: 20px;
    text-align: left;
}
.classjbox{
    align-items: baseline;
}
.classj {
	font-family: 'Inter', sans-serif;
    font-size: 0.8em;
	font-weight: 600;
    border-radius: 10px !important;
}
.progress {
    height: 10px !important;
}
.progress-bar {
    height: 10px;
	background-color: #31ADB3 !important;
}
.p-text {
	margin-top: -10px;
	margin-bottom: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    color:#6c757d ;
}
