<div class="row">
{{#cardarry}}
  <div class="col-md-4 mb-2">
    <div class="card card-main h-100">
      <img src="{{{courseimg}}}" class="card-img-top-resume" alt="image">
      <div class="card-body ">
      <div class="row">
          <div class="col-sm-12">
            <div class="tit-card-box">
              <h5 class="card-title tit-card">{{coursecat}}</h5>
            </div>
          </div>
      </div>
      <div class="row">
          <div class="col-sm-12">
            <div class="coursenamebox">
              <a href="{{{courseurl}}}" class="card-text card-title ">{{coursename}}</a>
            </div>
          </div>
      </div>
	  
      {{#progress}}
	  <div class="row mb-6">
        <div class="col-sm-12">
          <div class="progress bg-white border">
            <div class="progress-bar bar" role="progressbar" aria-valuenow="{{progress}}" style="width: {{progress}}%" aria-valuemin="0" aria-valuemax="100">
            </div>
          </div>
          <div class="small p-text">
            <span class="sr-only"></span><strong>Completed: {{progress}}%</strong>
          </div>
        </div>
		</div>
      {{/progress}}
      {{^progress}}
        
      {{/progress}}
      
      <div class="row mt-3 mb-3" style="position:absolute;bottom:0;">
          <div class="col-sm-12">
          {{#moduleurl}}
            <div class="classjbox">
                  <a href="{{moduleurl}}" class="btn btn-primary classj"><i class="fa fa-play" aria-hidden="true"></i> RESUME</a>
            </div>
          {{/moduleurl}}
          {{^moduleurl}}
            <div class="classjbox">
                  <a href="{{courseurl}}" class="btn btn-primary classj"><i class="fa fa-play" aria-hidden="true"></i> RESUME</a>
            </div>
          {{/moduleurl}}
          </div>
        </div>
      </div>
    </div>
  </div>
{{/cardarry}}
